<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Figuras Geométricas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-select (ionChange)="manejarSeleccionFigura($event)" class="labelFiguras" label="Figura Geométrica" placeholder="Escoja una figura geométrica">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>
    <app-circulo *ngIf="esCirculo()"/>
    <app-triangulo *ngIf="esTriangulo()"/> 
  </ion-card>
</ion-content>
